.jumbotron {
    border: solid black 10px;
    border-radius: 10px;
    background-image: url("../images/bg-court.jpg");
}

body {
    background-image: url("../images/nbajamcourt.png");
    background-size: cover;
}

#start {
    background-color: black;
    color: beige;
    padding: 10px;
}

.header {
    text-align: center;
    padding: 20px;
    margin: 20px;
}

#game {
    padding: 20px;
}

.btn {
    margin: 20px;
    background-color: black;
    color: beige;
}